*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: bisque;
}
#first {
    width: 50%; 
    max-width: 600px; 
    min-height: 50%;
    height: auto;    
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: indianred;
    border: 5px solid black;   
    padding: 20px; 
}

#first h1{
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    padding: 5%;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    color: blanchedalmond;
}

#first button{
    padding: 1em;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 2px solid black;
    color: brown;
    font-size: 15px;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

#first button:active{
    box-shadow: inset;
    transform: translateY(2px);
}