*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent{
    padding: 10%;
    background-color: azure;
    border: 2px solid black;
}
button{
    padding: 2%;
    text-align: center;
    background-color: beige;
    border: 2px dashed black;
    border-radius: 20px;
    display: block;
    transition: border 0.3s ease-in-out ;
}
button:hover{
    border: 2px solid black;
}
#income{
    padding: 2%;

    width: 100%;
    margin: 2em;
}