*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result{
    font-size: 40px;
    font-weight: 900;
    margin-top: 25px;
    padding: 20px;
}